{% extends "sign_base.html" %}
{%load crispy_forms_tags %}

{% block sign %}




    <section class="loginPage py-6">
        <div class="container py-5">
          <div class="row login_box shadow-lg">
            <div class="col-12 ">
              <form class="login-form" action="" method="POST" enctype="multipart/form-data">
                <div class="login_content">
                  <div
                    class="login_footer d-flex align-items-center justify-content-center"
                  >         
                      جامعة غريان - كلية تقنية المعلومات

                  </div>
                  {% csrf_token %}
                           
                  {{ employee_form|crispy }}
                  {{ signup_form|crispy }}

  
                  <div class="btn_holder">
                    <button class="btn login-btn">تسجيل </button>
                  </div>
                  <div class="flex flex-col mt-6 py-3">
                    <span class="max-w-xl text-gray-800 text-sm">Don't have an account yet, <a class="text-green-600 font-medium underline" href="{% url 'accounts:signup' %}">Register now</a> </span>
                </div>
                </div>
             
              </form>
              
            </div>
          </div>
        </div>
      </section>





                <!-- End Section -->
{% endblock sign %}